{% extends  '@Showcase/layout.html.twig' %}

{% block title %}Showcase{% endblock %}

{% block body %}
    <div class="row">

        <div class="col-md-12">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Status</th>
                    <th scope="col">Price</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <th scope="row">{{ order.id }}</th>
                        <td>{{ order.getStatus() }}</td>
                        <td>{{ order.price }}</td>
                        <td>
                            {% if workflow_can(order, 'pay') %}
                                <a href="{{ path('pay_form', {'order': order.id}) }}" class="btn btn-primary">Pay</a>
                                {% if usersCards %}
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary dropdown-toggle"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Pay with stored card
                                        </button>
                                        <div class="dropdown-menu">
                                            {% for usersCard in usersCards %}
                                                <a class="dropdown-item"
                                                   href="{{ path('pay_recurring', {'order': order.id, 'card': usersCard.id}) }}">{{ usersCard.getCardName() }}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}